.center-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 70vh;
}

.login-inputs {
  width: 400px;
  height: 35px;
}

a:hover {
  text-decoration: none;
  color: white;
}

.row-link:hover {
  cursor: pointer;
}
