{% extends 'layout.html' %} {% block content %}
<link href="/static/css/view_recipe.css" rel="stylesheet">
<div class="card">
<div class="card-header" style="background-image: url(/static/images/{{image_path}})">
          <div class="card-header-slanted-edge">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 200"><path class="polygon" d="M-20,200,1000,0V200Z" /></svg>
          </div>
    </div>
<div class="card-body">
    <h2 class="name">{{ title }}</h2>
    <div class="bio">
                        Created By : {{ created_by }} <br>
                        Created {{date_created}} ago <br>
                        Calories : {{calories}} <br>
                        Fat : {{fat}} <br>
                        Sugar : {{sugar}} <br>
                        Vegetarian : {{vegetarian}} <br>
    </div>
</div>
{% endblock content %}
